.body {
    background: var(--color-primary1) url(/images/bg-intro-desktop.png);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.main-container,
.form-container {
    width: 400px;
}

.main-container {
    color: white;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.5em;
    
}

.offer-box {
    background-color: var(--color-accent);
    color: white;
    border-radius: .5em;
    text-align: center;
    padding: .7em;
    font-size: .8em;
    box-shadow: 0px 5px rgba(0,0,0,0.2);
    
}

.form {
    display: grid;
    gap: 1em;
    border-radius: .5em;
    background-color: white;
    padding: 2em;
}

input {
    padding: .9em;
    border-radius: .3em;
    border-style: none;
    color: var(--color-neutral2);
    font-weight: bold;
    outline-style: none;
}

input:hover {
    border: 1px solid var(--color-accent);
    color: var(--color-neutral1);
}

input:focus {
    border: 1px solid var(--color-accent);
    color: var(--color-neutral1);
}

button {
    background-color: var(--color-primary2);
    color: white;
    font-size: .8em;
    font-weight: bold;
    
    border-style: none;
    border-radius: .3em;
    box-shadow: 0px 2px rgba(0,0,0,0.4);
    text-align: center;
    padding: .7em;
    margin-top: 1em;
}

.disclaimer {
    font-size: .5em;
    text-align: center;
    color: var(--color-neutral2);
    margin: 0;
}

.disclaimer a{
    color: var(--color-primary1);
    font-weight: bold;
}

/* Nun principio facer o css para mobil, e logo adaptalo a desktop con media queries: 
@media (min-width: 400px) {
    .container {
        display:flex;
    }
}*/